@model IEnumerable<Lojas.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Fazer Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loja.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

<table id="tabela" class="tableitem table">
    <thead>
        <tr>
            <th>Id</th>
            <th>PedidoId</th>
            <th>Produto</th>
            <th>Valor</th>
            <th>Quantidade</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tabela').hide();
            $('#detalhes').click(function() {
                $('#tabela').show();
                $('#tabela').DataTable({
                    paging: false,
                    searching: false,
                    destroy: true,
                    'ajax': {
                        'type': "GET",
                        'url': "/Pedido/Details",
                        'dataType': "json",
                        'data': {'ProdutoId': model.Id},
                        'dataSrc': function (json) {
                            var data = new Array();
                            for(var i = 0; i < json.length; i++){
                                data.push({
                                    'id'   : json[i].id,
                                    'pedidoId'      : json[i].pedido.id,
                                    'produtoNome'   : json[i].produto.nome,
                                    'produtoValor'  : json[i].pedido.valor,
                                    'quantidade'    : json[i].quantidade,
                                })
                            }
                            return data;
                        }
                    },
                    'columns': [
                            {'data': 'id'},
                            {'data': 'pedidoId'},
                            {'data': 'produtoNome'},
                            {'data': 'produtoValor'},
                            {'data': 'quantidade'}
                    ],
                });
            });
        });
    </script>
}